
<link rel="stylesheet" href="http://use.fontawesome.com/release/v5.8.2/css/all.css">
<body>



    <div class="circle"><div class="wave"></div> </div>
    <h1>Guys check out the Game Zone</h1>
    
    <p style="text-align: center;"><a routerLink="/luck-component" ><img src="https://i.pinimg.com/originals/d6/0d/f0/d60df08120c2c639b96440b06b162a6b.jpg" height="250px" width="250px" style="border-radius:50%;">
    </a></p>
    
    <div class="circle1"><div class="wave1"></div> </div>
    <div class="circle2"><div class="wave2"></div> </div>

 
    </body>