
<div class="container">
    <div >
    <h1>Try your Luck</h1>
    <form >
        <div class="form-group">
            <label for="name" class="form-control" id="name" required>ENTER A NUMBER BETWEEN 1-10</label>
            <input type="text" class="form-control" id="name" required  name="name" [(ngModel)]="i">
        
      
</div>
        
            <button type="submit" class="btn btn-success" (click)="num()" >Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" >Reset</button>
             
              
      
    </form>